header {
  grid-column: 1 / 4;
  width: 100%;
}
.head_title{
	background-color: #154c79;
	color: #eee;
}
.about-photo{
	width: 200px;
  height: var(--height);
  float: right;
  margin: 0 0 10px 15px;
  margin-top: 25px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}
.about-photo img{
	border-radius: 15px;
}
.container p{
	text-align: left;
}

body {
  font-family: Arial, sans-serif;
  grid-column: 3 / 3;
  background-color: #f4f4f4;
}

.container {
	display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: static;
  top: auto;
	max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}

.card {
  width: 900px;
  height: 650px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-right: 50px;
  
}
.card1 {
  width: 190rem;
  height: 650px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-left: 50px;
  
}
.card1 p{
  font-family: 'Times New Roman', Times, serif;
}

.card-header {
  font-family: 'Times New Roman', Times, serif;
  background-color: #154c79;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-body ul {
  font-family: 'Times New Roman', Times, serif;
  list-style: disc;
  padding-left: 50px;
  padding-top: 100px;
  font-size: 20px;
}

.card-body a {
  color: #330099;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}
h3{
	padding:10px;
	padding-left: 250px;
}
.country_desc{
	flex: 2;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}
.Philippines{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-top: 1px solid #ddd;
	
}
.flag p {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 5px;
}

footer {
  background: #154c79;
  padding: 2rem;
  text-align: center;
  color: #eee;
  position: fixed;
  bottom: 0;
  width:100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: acme, Arial, sans-serif;
}

h1 {
	text-align: center;
	background-color: #154c79;
	padding: 40px;
	color: #fff;
	font-size: 20px;
}

p {
	text-align: center;
}

nav {
	margin: 0 auto 2rem;
  width: 100%;
}

main {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / .2);
	padding: 1rem;
	background-color: #eee;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; 
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
.highlight {
  color: rgb(255, 187, 0);
}

#course-title {
    display: block;
    text-align: center;
    background-color: #154c79;
    padding: 40px;
    color: #fff;
    font-size: 200px;
}


main h1 {
    text-align: center;
    background-color: #154c79;
    padding: 40px;
    color: #fff;
    font-size: 200px;
}


#course-title,
main h1 {
    text-align: center;
    background-color: #154c79;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

